.container_Form_Ingredientes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 10px 20px;
}

.input-col {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-formulario {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 0.9rem;
}
